/* to do add This js
aria-hidden="true" */

/* more text */
.hidden {
  display: none;
}

.alert {
  color: white;
}
.grow {
  transition: all 0.3s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.selected {
  background-color: #007cfd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  border: 5px solid blanchedalmond;
  max-width: 60%;
  max-height: 60%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 5px solid blanchedalmond;
  max-width: 60%;
  max-height: 60%;
  padding: 15px;
  color: #fff;
  background-color: #171f24;
  margin-left: auto;
  margin-right: auto;
}

.screen-reader:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.results {
  height: 100px;
}

img {
  display: block;
  width: 400px;
  max-width: 95%;
  margin: auto;
}

.results-img {
  height: 250px;
  object-fit: cover;
}

/* remove v-center from everywhere? error? 3/23, added center to card class

.v-center {
  margin-left: auto;
  margin-right: auto;
} */

li {
  display: block;
  list-style-type: none;
  margin-top: 40px;
}

h1 {
  font-size: 350%;
  letter-spacing: 2px;
}

h3 {
  margin-top: 0px;
  font-size: 200%;
}

h1,
h2,
h3 {
  font-family: "Play", sans-serif;
  text-align: center;
}

p,
label {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  margin: 10px;
  text-align: center;
}

p,
label {
  margin: 10px;
}

#js-search-option {
  margin-bottom: 10px;
  overflow: hidden;
  max-width: 95%;
}

.tagline {
  color: #7aa6ef;
  font-family: "Play", sans-serif;
  letter-spacing: 2px;
  font-size: 135%;
}

html {
  min-width: 100%;
  min-height: 100%;
  background: url(images/ps-controller.jpeg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* for ie */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.container {
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  /* position: fixed; */
  background: linear-gradient(#171f24 50%, rgba(225, 225, 225, 0) 50%);

  /* for three sections looks horrible full screen */
  /* background: linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0) 20%,
    #171f24 20%,
    #171f24 55%,
    rgba(225, 225, 225, 0) 55%
  ); */
}

.transparent {
  background: rgba(225, 225, 225, 0) 55%;
  position: static;
}

body {
  min-width: 100%;
  min-height: 100%;
  word-break: break-word;
  /* removed 3/14, casued issues? */
  /* display: block; */
}

ul {
  /* margin-bottom: 50px; */
  margin-left: 0%;
  margin-right: 0%;
  padding: 20px;
}

.display-detailed-list {
  margin: 0px;
  padding: 0px;
}

/* question a  */
/* line up size and space out the buttons */
/* second attempt */
.button-bar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  /* text-align: center; */
  justify-content: center;
  max-height: 5%;
  height: 100px;
}
.button-bar-two {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.button:hover,
#search input:hover,
#search button:hover {
  background: #007cfd;
  color: white;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

/* QUESTION element.class selector not working? */

/* .sp-left {
  margin-left: 10px;
}
.sp-right {
  margin-right: 10px;
}  */

.right {
  float: right;
}
.left {
  float: left;
}
.center {
  margin: auto;
}

label {
  display: block;
}

#search input,
#search button {
  background-color: #89a1b7;
  font-weight: bold;
  color: #171f24;
  border-radius: 10px;
  padding: 5px;
  min-width: 40px;
  min-height: 25px;
}

.button {
  min-width: 80px;
  min-height: 50px;
  background-color: #89a1b7;
  font-weight: bold;
  color: #171f24;
  margin: 10%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */

.read-more {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  min-width: 80px;
  min-height: 50px;
  background-color: #89a1b7;
  font-weight: bold;
  color: #171f24;
  margin: 10%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.sub p .sub button {
  display: inline-block;
}

/* input,
button {
  background-color: #89a1b7;
  font-weight: bold;
  color: #171f24;
  max-width: 90%;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
} */

/* question c access with the p tags vs lbales for labeling the checkboxes */
/* toggle checkboxes*/

.group {
  height: 50px;
  /* width: 60%; */
}

.switch {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

.label {
  margin: 0;
  font-size: 120%;
  text-transform: capitalize;
  top: 50%;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007cfd;
  /* question: box shadow doesnt show up until another click */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

input:focus + .slider {
  box-shadow: 0 0 1px #007cfd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* question b carousel*/

.carousel-container {
  /* max-height: 80%; */
  width: auto;
  height: auto;
}

.carousel-container img {
  max-width: 90%;
  /* max-height: 50%; */
  width: auto;
  height: auto;
}

/* 
.display-detailed-list {
  height: 70%;
}

.display-detailed-list li {
  height: 90%;
} */

@keyframes glow {
  /* @-webkit-keyframes glow { */
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0061e6,
      0 0 40px #0061e6, 0 0 50px #0061e6, 0 0 60px #0061e6, 0 0 70px #0061e6;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px#7aa6ef, 0 0 40px#7aa6ef,
      0 0 50px#7aa6ef, 0 0 60px#7aa6ef, 0 0 70px#7aa6ef, 0 0 80px#7aa6ef;
  }
}

h1.glow {
  /* color white or background color better? */
  /* color: #fff; */
  color: #171f24;
  text-align: center;
  animation: glow 1.25s ease-in-out infinite alternate;
}

#search {
  max-width: 80%;
  background-color: #171f24;
  /* background-color: white; */
  text-align: center;
  width: 40%;
  margin: 40px auto auto auto;
  padding: 10px;
  border: 3px inset #89a1b7;
  color: #7aa6ef;
  /* display: block; */
}

.previous {
  /* left: -40%; */

  left: 10%;
}

.next {
  right: 10%;
}

.previous,
.next {
  position: absolute;
  min-width: 72px;
  min-height: 45px;
  background-color: #89a1b7;
  font-weight: bold;
  color: #171f24;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  top: 200px;
}

/* @media */

/* x-large only  */
@media screen and (min-width: 1160px) {
  /* #search {
    display: inline-block;
  } */

  label {
    display: inline-block;
  }
}
/* ^end x-large */

/* @media */
/* ipads and larger */
@media screen and (min-width: 768px) {
  .previous {
    left: 15%;
  }

  .next {
    right: 15%;
  }
  .container {
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    /* position: fixed; */
    background: linear-gradient(
      to right bottom,
      #171f24 55%,
      rgba(225, 225, 225, 0) 55%
    );
  }
  .transparent {
    background: rgba(225, 225, 225, 0) 55%;
    position: static;
  }

  #search {
    /* max-width: 30%; */
    background-color: #171f24;
    text-align: center;
    width: 40%;
    margin: 80px auto auto auto;
    padding: 10px;
    border: 3px inset #89a1b7;
    color: #7aa6ef;
  }
  .group {
    height: 50px;
    /* max-width: 50%; */
  }

  .label {
    margin: 0;
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
  }
}

/* ^end large (ipads and larger)*/

/* @media */
/* medium */
@media screen and (min-width: 261px) and (max-width: 767px) {
  .label {
    word-break: break-all;
    display: block;
    top: 25%;
  }

  .switch {
    top: 70%;
    width: 60px;
    height: 34px;
    display: block;
    margin-top: 15px;
  }
  .group > .right {
    float: none;
  }

  .group {
    height: 90px;
  }
}

/* 
.previous {
  position: absolute;
  top: 50;
  left: 10; */
/* margin-top: 50%; */
/* display: inline-block; */
/* } */
/* ^end medium (mobile)*/

/* extra small only  */
@media screen and (max-width: 260px) {
  body {
    word-break: break-all;
  }
  /* .container {
    position: relative;
  } */
}
/* ^end extra small*/

/* extra short only  */
@media screen and (max-height: 440px) {
  body {
    word-break: break-all;
  }
  /* .container {
    position: relative;
  } */
}
/* ^end extra small*/
