body {
  margin: 20px;
  word-break: break-all;
}
.hidden {
  display: none;
}

/*
h2,
p,
h3 {
  font-size: 16px;
}


.results {
  min-height: 100px;
} */

body {
  display: block;
  margin-bottom: 10px;
}

img {
  display: block;
  max-width: 200px;
}

li {
  display: block;
  margin-bottom: 10px;
  list-style-type: none;
}

li:hover {
  border: 5x solid black;
 background-color: yellow; 
}
